# Using mintalib pandas accessors

In [7]:
from mintalib.utils import sample_prices

from mintalib.accessors import register_accessors

register_accessors()

In [8]:
prices = sample_prices()
prices.tail()

             open   high    low  close  volume
date
2022-08-11  84.76  84.76  84.62  84.74  149925
2022-08-12  84.39  84.39  83.63  83.80  125560
2022-08-15  84.22  85.30  84.22  85.20  149768
2022-08-16  85.55  85.55  84.73  85.27  145777
2022-08-17  86.16  87.75  86.16  87.75  144972

In [9]:
prices.ta.macd().tail()

                macd  macdsignal  macdhist
date
2022-08-11 -1.737383   -1.630154 -0.107230
2022-08-12 -1.841679   -1.672459 -0.169220
2022-08-15 -1.790724   -1.696112 -0.094612
2022-08-16 -1.724811   -1.701852 -0.022959
2022-08-17 -1.455679   -1.652617  0.196939

In [6]:
prices.ta.sma(5)

date
2021-08-19        NaN
2021-08-20        NaN
2021-08-23        NaN
2021-08-24        NaN
2021-08-25     98.842
               ...
2022-08-11    131.982
2022-08-12    132.762
2022-08-15    133.186
2022-08-16    133.788
2022-08-17    133.750
Length: 260, dtype: float64

In [5]:
prices.close.ta.sma(5)

date
2021-08-19        NaN
2021-08-20        NaN
2021-08-23        NaN
2021-08-24        NaN
2021-08-25     98.842
               ...
2022-08-11    131.982
2022-08-12    132.762
2022-08-15    133.186
2022-08-16    133.788
2022-08-17    133.750
Length: 260, dtype: float64