# Using mintalib functions

In [1]:
from mintalib.functions import EMA, SMA, TRANGE, MACD
from mintalib.samples import sample_prices

In [2]:
prices = sample_prices()
prices

,open,high,low,close,volume,change
date,,,,,,
2018-09-24 00:00:00-04:00,51.913947,52.977028,51.868454,52.864494,110773600,NaN
2018-09-25 00:00:00-04:00,52.615489,53.350551,52.603517,53.199707,98217600,0.006341
2018-09-26 00:00:00-04:00,52.914789,53.573231,52.617890,52.775917,95938800,-0.007966
2018-09-27 00:00:00-04:00,53.589985,54.217299,53.522940,53.860542,120724800,0.020552
2018-09-28 00:00:00-04:00,53.822241,54.073647,53.637880,54.049706,91717600,0.003512
...,...,...,...,...,...,...
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600,0.016913
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900,0.006181
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200,-0.019992
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900,-0.008889
2023-09-22 00:00:00-04:00,174.669998,175.389999,174.054993,175.179993,10333432,0.007187

In [3]:
res = MACD(prices)
res

                               macd  macdsignal  macdhist
date
2018-09-24 00:00:00-04:00       NaN         NaN       NaN
2018-09-25 00:00:00-04:00       NaN         NaN       NaN
2018-09-26 00:00:00-04:00       NaN         NaN       NaN
2018-09-27 00:00:00-04:00       NaN         NaN       NaN
2018-09-28 00:00:00-04:00       NaN         NaN       NaN
...                             ...         ...       ...
2023-09-18 00:00:00-04:00 -1.839406   -1.348443 -0.490963
2023-09-19 00:00:00-04:00 -1.658504   -1.410455 -0.248049
2023-09-20 00:00:00-04:00 -1.783455   -1.485055 -0.298401
2023-09-21 00:00:00-04:00 -1.985473   -1.585139 -0.400335
2023-09-22 00:00:00-04:00 -2.021408   -1.672392 -0.349015

[1258 rows x 3 columns]

In [4]:
res = TRANGE(prices)
res

date
2018-09-24 00:00:00-04:00         NaN
2018-09-25 00:00:00-04:00    0.747035
2018-09-26 00:00:00-04:00    0.955341
2018-09-27 00:00:00-04:00    1.441382
2018-09-28 00:00:00-04:00    0.435767
                               ...
2023-09-18 00:00:00-04:00    4.370010
2023-09-19 00:00:00-04:00    2.500000
2023-09-20 00:00:00-04:00    4.300003
2023-09-21 00:00:00-04:00    2.440002
2023-09-22 00:00:00-04:00    1.460007
Length: 1258, dtype: float64

In [5]:
res = SMA(prices, 20, item="volume")
res

date
2018-09-24 00:00:00-04:00           NaN
2018-09-25 00:00:00-04:00           NaN
2018-09-26 00:00:00-04:00           NaN
2018-09-27 00:00:00-04:00           NaN
2018-09-28 00:00:00-04:00           NaN
                                ...
2023-09-18 00:00:00-04:00    64385275.0
2023-09-19 00:00:00-04:00    64661025.0
2023-09-20 00:00:00-04:00    65478625.0
2023-09-21 00:00:00-04:00    65994880.0
2023-09-22 00:00:00-04:00    63764261.6
Length: 1258, dtype: float64