# Using mintalib indicators

In [1]:
from mintalib.samples import sample_prices
from mintalib.indicators import ROC, SMA, EMA, RSI, MACD, TRANGE, ATR, SLOPE, EVAL

In [2]:
prices = sample_prices()
prices.tail()

,open,high,low,close,volume,change
date,,,,,,
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600,0.016913
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900,0.006181
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200,-0.019992
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900,-0.008889
2023-09-22 00:00:00-04:00,174.669998,175.389999,174.054993,175.179993,10333432,0.007187

In [3]:
indicator = ROC(20) @ EMA(20)

res = indicator(prices)
res.tail()

date
2023-09-18 00:00:00-04:00   -0.013620
2023-09-19 00:00:00-04:00   -0.010670
2023-09-20 00:00:00-04:00   -0.010590
2023-09-21 00:00:00-04:00   -0.013362
2023-09-22 00:00:00-04:00   -0.012752
dtype: float64

In [4]:
res = TRANGE() @ prices
res.tail()

date
2023-09-18 00:00:00-04:00    4.370010
2023-09-19 00:00:00-04:00    2.500000
2023-09-20 00:00:00-04:00    4.300003
2023-09-21 00:00:00-04:00    2.440002
2023-09-22 00:00:00-04:00    1.460007
dtype: float64

In [5]:
res = SMA(20, item="volume") @ prices
res.tail()

date
2023-09-18 00:00:00-04:00    64385275.0
2023-09-19 00:00:00-04:00    64661025.0
2023-09-20 00:00:00-04:00    65478625.0
2023-09-21 00:00:00-04:00    65994880.0
2023-09-22 00:00:00-04:00    63764261.6
dtype: float64

In [6]:
prices.assign(
    rsi=RSI(),
    sma20=SMA(20),
    sma50=SMA(50),
    sma200=SMA(200),
    slope20=SLOPE(20),
    pos=EVAL("sma50 > sma200 and slope20 > 0.0"),
).tail()

,open,high,low,close,volume,change,rsi,sma20,sma50,sma200,slope20,pos
date,,,,,,,,,,,,
2023-09-18 00:00:00-04:00,176.479996,179.380005,176.169998,177.970001,67257600,0.016913,45.654501,180.270499,184.342663,164.564343,-0.184759,0.0
2023-09-19 00:00:00-04:00,177.520004,179.630005,177.130005,179.070007,51826900,0.006181,47.672844,180.432000,184.156950,164.722687,-0.271864,0.0
2023-09-20 00:00:00-04:00,179.259995,179.699997,175.399994,175.490005,58436200,-0.019992,42.182086,180.345000,183.910222,164.861738,-0.393022,0.0
2023-09-21 00:00:00-04:00,174.550003,176.300003,173.860001,173.929993,63047900,-0.008889,40.019079,179.985500,183.598541,164.995477,-0.472428,0.0
2023-09-22 00:00:00-04:00,174.669998,175.389999,174.054993,175.179993,10333432,0.007187,42.560671,179.925500,183.296480,165.141342,-0.598007,0.0