# Using mintalib functions

In [1]:
from mintalib.utils import sample_prices

import mintalib.functions as ta

In [2]:
prices = sample_prices()
prices.tail()

              open    high     low   close  volume
date
2022-08-11  118.76  120.32  118.76  120.32  118317
2022-08-12  120.26  120.42  119.48  119.48  120306
2022-08-15  120.46  120.46  118.75  118.75  140933
2022-08-16  118.31  120.04  117.98  120.04   82727
2022-08-17  119.05  120.43  118.50  120.43  175746

In [3]:
res = ta.macd(prices)
res.tail()

                macd  macdsignal  macdhist
date
2022-08-11  0.753966    0.593296  0.160669
2022-08-12  0.914050    0.657447  0.256603
2022-08-15  0.970822    0.720122  0.250700
2022-08-16  1.107144    0.797527  0.309618
2022-08-17  1.232443    0.884510  0.347933

In [4]:
res = ta.trange(prices)
res.tail()

date
2022-08-11    1.56
2022-08-12    0.94
2022-08-15    1.71
2022-08-16    2.06
2022-08-17    1.93
dtype: float64

In [5]:
res = ta.sma(prices, 20, item='volume')
res.tail()

date
2022-08-11    130413.25
2022-08-12    131826.45
2022-08-15    132643.65
2022-08-16    130496.25
2022-08-17    133007.45
dtype: float64