In [6]:
from mintalib import core
from mintalib.utils import random_walk, sample_prices

In [7]:
print(dir(core))

['ADX', 'ATR', 'AVGPRICE', 'BBANDS', 'BOP', 'CCI', 'CMF', 'CURVE', 'CurveOption', 'DEMA', 'DIFF', 'EMA', 'EVAL', 'EXP', 'Indicator', 'IntEnum', 'KAMA', 'KELTNER', 'LATR', 'LOG', 'MACD', 'MAD', 'MAX', 'MA_Type', 'MFI', 'MIDPRICE', 'MIN', 'MINUSDI', 'NATR', 'PLUSDI', 'PPO', 'PRICE', 'PSAR', 'Pandas', 'Polars', 'RMA', 'ROC', 'RSI', 'SLOPE', 'SMA', 'STDEV', 'STOCH', 'SUM', 'SlopeOption', 'TEMA', 'TRANGE', 'TYPPRICE', 'VOLUME', 'WCLPRICE', 'WMA', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__pyx_unpickle_Enum', '__spec__', '__test__', 'calc_adx', 'calc_atr', 'calc_avgprice', 'calc_bbands', 'calc_bop', 'calc_cci', 'calc_cmf', 'calc_curve', 'calc_dema', 'calc_diff', 'calc_ema', 'calc_exp', 'calc_kama', 'calc_keltner', 'calc_latr', 'calc_log', 'calc_ma', 'calc_macd', 'calc_mad', 'calc_max', 'calc_mfi', 'calc_midprice', 'calc_min', 'calc_minusdi', 'calc_natr', 'calc_plusdi', 'calc_ppo', 'calc_psar', 'calc_rma', 'calc_roc', 'calc_rsi', 'calc_slope', 'calc_sma', 'calc_stdev', 'calc_stoch', 'calc_streak', 'calc_sum', 'calc_tema', 'calc_trange', 'calc_typprice', 'calc_wclprice', 'calc_wma', 'check_size', 'efficiency_ratio', 'export', 'macd_result', 'namedtuple', 'np', 'pdDataFrame', 'pdSeries', 'plDataFrame', 'plSeries', 'ppo_result', 're', 'stoch_result', 'wrap_indicator', 'wrap_result']

In [8]:
prices = sample_prices()
prices.tail()

              open    high     low   close  volume
date
2022-09-02  115.99  116.96  115.99  116.96  149323
2022-09-05  116.34  116.34  114.99  114.99  145968
2022-09-06  115.09  116.66  115.09  116.66  146432
2022-09-07  115.75  115.75  114.57  115.00  196891
2022-09-08  115.65  117.68  115.65  117.68  131534

In [9]:
res = core.calc_sma(prices.close, 50)
res.tail()

date
2022-09-02    109.7298
2022-09-05    109.9428
2022-09-06    110.2122
2022-09-07    110.4592
2022-09-08    110.7950
dtype: float64

In [10]:
res = core.calc_macd(prices.close)
res.tail()

                macd  macdsignal  macdhist
date
2022-09-02  1.363236    1.328055  0.035181
2022-09-05  1.343874    1.331219  0.012655
2022-09-06  1.446610    1.354297  0.092313
2022-09-07  1.378193    1.359076  0.019117
2022-09-08  1.522674    1.391796  0.130878