# Using mintalib operands

In [1]:
from mintalib.utils import sample_prices

from mintalib.opers import ROC, SMA, EMA, RSI, MACD, TRANGE, ATR, SLOPE, EVAL

In [2]:
prices = sample_prices()
prices.tail()

             open   high    low  close  volume    change
date
2022-08-25  91.37  91.37  89.70  90.59  209910 -0.011350
2022-08-26  90.79  91.63  90.79  91.14  126281  0.006071
2022-08-29  90.29  90.44  89.53  89.53  153372 -0.017665
2022-08-30  90.53  92.07  90.53  92.07  124937  0.028370
2022-08-31  92.21  92.35  91.37  91.37  175110 -0.007603

In [3]:
indicator = ROC(20) @ EMA(20)

res = indicator(prices)
res.tail()

date
2022-08-25   -0.053043
2022-08-26   -0.054441
2022-08-29   -0.056408
2022-08-30   -0.056044
2022-08-31   -0.057421
dtype: float64

In [4]:
res = TRANGE() @ prices
res.tail()

date
2022-08-25    1.93
2022-08-26    1.04
2022-08-29    1.61
2022-08-30    2.54
2022-08-31    0.98
dtype: float64

In [5]:
res = SMA(20, item='volume') @ prices
res.tail()

date
2022-08-25    133034.60
2022-08-26    132736.20
2022-08-29    134439.90
2022-08-30    133964.75
2022-08-31    136544.00
dtype: float64

In [6]:
prices.assign(
    rsi=RSI(),
    sma20=SMA(20),
    sma50=SMA(50),
    sma200=SMA(200),
    slope20=SLOPE(20),
    pos=EVAL("sma50 > sma200 and slope20 > 0.0")
).tail()

,open,high,low,close,volume,change,rsi,sma20,sma50,sma200,slope20,pos
date,,,,,,,,,,,,
2022-08-25,91.37,91.37,89.70,90.59,209910,-0.011350,27.912413,95.9045,97.9886,93.25330,-0.406128,0.0
2022-08-26,90.79,91.63,90.79,91.14,126281,0.006071,30.990964,95.5715,97.8570,93.23615,-0.444263,0.0
2022-08-29,90.29,90.44,89.53,89.53,153372,-0.017665,27.313779,95.2045,97.6940,93.21500,-0.510068,0.0
2022-08-30,90.53,92.07,90.53,92.07,124937,0.028370,39.508394,94.9495,97.5818,93.20975,-0.523812,0.0
2022-08-31,92.21,92.35,91.37,91.37,175110,-0.007603,37.634475,94.6020,97.4850,93.19560,-0.521729,0.0