# Using mintalib indicators

In [1]:
from mintalib.utils import sample_prices

from mintalib.indicators import ROC, SMA, EMA, RSI, MACD, TRANGE, ATR, SLOPE, EVAL

In [2]:
prices = sample_prices()
prices.tail()

              open    high     low   close  volume
date
2022-08-11  134.05  135.57  134.05  135.57  109453
2022-08-12  136.12  136.12  135.24  135.42  126078
2022-08-15  135.74  135.74  135.06  135.35  133082
2022-08-16  136.61  139.53  136.61  139.53  137345
2022-08-17  140.21  141.61  140.21  141.49  125686

In [3]:
indicator = ROC(20) @ EMA(20)

res = indicator(prices)
res.tail()

date
2022-08-11   -0.045296
2022-08-12   -0.045066
2022-08-15   -0.044454
2022-08-16   -0.041315
2022-08-17   -0.036932
dtype: float64

In [4]:
res = TRANGE() @ prices
res.tail()

date
2022-08-11    1.52
2022-08-12    0.88
2022-08-15    0.68
2022-08-16    4.18
2022-08-17    2.08
dtype: float64

In [5]:
res = SMA(20, item='volume') @ prices
res.tail()

date
2022-08-11    142072.70
2022-08-12    139684.25
2022-08-15    136067.65
2022-08-16    134788.55
2022-08-17    136364.05
dtype: float64

In [8]:
prices.assign(
    rsi=RSI(),
    sma20=SMA(20),
    sma50=SMA(50),
    sma200=SMA(200),
    slope20=SLOPE(20),
    pos=EVAL("sma50 > sma200 and slope20 > 0.0")
).tail()

,open,high,low,close,volume,rsi,sma20,sma50,sma200,slope20,pos
date,,,,,,,,,,,
2022-08-11,134.05,135.57,134.05,135.57,109453,40.224758,138.0515,141.1668,119.20885,-0.393647,0.0
2022-08-12,136.12,136.12,135.24,135.42,126078,39.830181,137.7485,141.0636,119.40990,-0.377105,0.0
2022-08-15,135.74,135.74,135.06,135.35,133082,39.634788,137.4775,140.9250,119.60540,-0.363662,0.0
2022-08-16,136.61,139.53,136.61,139.53,137345,54.111287,137.4005,140.9214,119.81810,-0.277617,0.0
2022-08-17,140.21,141.61,140.21,141.49,125686,59.068106,137.4395,140.9928,120.04300,-0.166940,0.0