# How to get sample prices

In [20]:
from mintalib.samples import sample_prices, load_prices

In [21]:
prices = sample_prices()
prices

,open,high,low,close,volume,change
date,,,,,,
2019-01-07,35.680969,35.712164,35.009101,35.496204,219111200,NaN
2019-01-08,35.887334,36.429629,35.637785,36.172878,164101200,0.019063
2019-01-09,36.302450,37.079898,35.904131,36.787155,180396400,0.016982
2019-01-10,36.592792,36.945523,36.199270,36.904732,143122800,0.003196
2019-01-11,36.683979,36.880738,36.355241,36.542404,108092800,-0.009818
...,...,...,...,...,...,...
2023-12-29,193.899994,194.399994,191.729996,192.529999,42628800,-0.005424
2024-01-02,187.149994,188.440002,183.889999,185.639999,82488700,-0.035787
2024-01-03,184.220001,185.880005,183.429993,184.250000,58414500,-0.007488
2024-01-04,182.149994,183.089996,180.880005,181.910004,71983600,-0.012700
2024-01-05,181.990005,182.759995,180.169998,181.179993,62303300,-0.004013

In [22]:
prices.dtypes

open      float64
high      float64
low       float64
close     float64
volume      int64
change    float64
dtype: object

In [23]:
prices.index

DatetimeIndex(['2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18',
               ...
               '2023-12-21', '2023-12-22', '2023-12-26', '2023-12-27',
               '2023-12-28', '2023-12-29', '2024-01-02', '2024-01-03',
               '2024-01-04', '2024-01-05'],
              dtype='datetime64[ns]', name='date', length=1259, freq=None)

In [24]:
rawprices = load_prices()
rawprices

array([(datetime.datetime(2019, 1, 7, 0, 0),  35.680969  ,  35.71216402,  35.00910064,  35.49620438, 219111200,         nan),
       (datetime.datetime(2019, 1, 8, 0, 0),  35.8873339 ,  36.42962947,  35.63778464,  36.17287827, 164101200,  0.01906327),
       (datetime.datetime(2019, 1, 9, 0, 0),  36.30244958,  37.0798978 ,  35.9041308 ,  36.78715515, 180396400,  0.0169817 ),
       ...,
       (datetime.datetime(2024, 1, 3, 0, 0), 184.22000122, 185.88000488, 183.42999268, 184.25      ,  58414500, -0.00748761),
       (datetime.datetime(2024, 1, 4, 0, 0), 182.1499939 , 183.08999634, 180.88000488, 181.91000366,  71983600, -0.01270012),
       (datetime.datetime(2024, 1, 5, 0, 0), 181.99000549, 182.75999451, 180.16999817, 181.17999268,  62303300, -0.00401303)],
      dtype=[('date', 'O'), ('open', '<f8'), ('high', '<f8'), ('low', '<f8'), ('close', '<f8'), ('volume', '<i8'), ('change', '<f8')])

In [27]:
prices.reset_index().to_numpy()

array([[Timestamp('2019-01-07 00:00:00'), 35.680968997183946,
        35.712164022660176, ..., 35.4962043762207, 219111200, nan],
       [Timestamp('2019-01-08 00:00:00'), 35.88733389756332,
        36.42962947388521, ..., 36.17287826538086, 164101200,
        0.0190632745402341],
       [Timestamp('2019-01-09 00:00:00'), 36.30244957599175,
        37.07989779637121, ..., 36.78715515136719, 180396400,
        0.01698169776482],
       ...,
       [Timestamp('2024-01-03 00:00:00'), 184.22000122070312,
        185.8800048828125, ..., 184.25, 58414500, -0.0074876071655812],
       [Timestamp('2024-01-04 00:00:00'), 182.1499938964844,
        183.08999633789065, ..., 181.91000366210935, 71983600,
        -0.012700115809447],
       [Timestamp('2024-01-05 00:00:00'), 181.9900054931641,
        182.75999450683597, ..., 181.17999267578125, 62303300,
        -0.0040130337619259]], dtype=object)