In [583]:
import io
import json

import numpy as np
import pandas as pd

from mintalib.utils import sample_prices

from functools import singledispatchmethod

import dataclasses as dc

from dataclasses import dataclass

from prettyprinter import pprint, pformat, register_pretty, pretty_call

In [584]:
prices = sample_prices(5)
prices

             open   high    low  close  volume
date
2022-07-22  99.60  99.60  98.09  99.11  126610
2022-07-25  98.85  98.85  98.54  98.54  143293
2022-07-26  98.78  98.78  98.39  98.45  148397
2022-07-27  98.46  98.46  97.25  97.25  115005
2022-07-28  97.13  99.22  97.13  99.22  126585

In [585]:
class NameSpace:

    @staticmethod
    def dataframe(**kwargs):
        return pd.DataFrame.from_dict(kwargs, orient='tight')

    @staticmethod
    def series(data, index_name=None):
        return pd.Series(data).rename_axis(index=index_name)

    @staticmethod
    def timestamp(text):
        return pd.Timestamp(text)

    @staticmethod
    def ndarray(data):
        return np.array(data)


@register_pretty(pd.DataFrame)
def pretty_dataframe(value, ctx):
    data = value.to_dict(orient='tight')
    return pretty_call(ctx, 'ns.dataframe', **data)

@register_pretty(pd.Series)
def pretty_series(value, ctx):
    data = value.to_dict()
    index_name = value.index.name
    return pretty_call(ctx, 'ns.series', data=data, index_name=index_name)

@register_pretty(np.ndarray)
def pretty_ndarray(value, ctx):
    data = value.tolist()
    return pretty_call(ctx, 'ns.ndarray', data)


@register_pretty(pd.Timestamp)
def pretty_timestamp(value, ctx):
    data = str(value)
    return pretty_call(ctx, 'ns.timestamp', data)


ns = NameSpace
res = pformat(prices)
print(res)
eval(res)

ns.dataframe(
    index=[
        ns.timestamp('2022-07-22 00:00:00'),
        ns.timestamp('2022-07-25 00:00:00'),
        ns.timestamp('2022-07-26 00:00:00'),
        ns.timestamp('2022-07-27 00:00:00'),
        ns.timestamp('2022-07-28 00:00:00')
    ],
    columns=['open', 'high', 'low', 'close', 'volume'],
    data=[
        [99.6, 99.6, 98.09, 99.11, 126610],
        [98.85, 98.85, 98.54, 98.54, 143293],
        [98.78, 98.78, 98.39, 98.45, 148397],
        [98.46, 98.46, 97.25, 97.25, 115005],
        [97.13, 99.22, 97.13, 99.22, 126585]
    ],
    index_names=['date'],
    column_names=[None]
)

             open   high    low  close  volume
date
2022-07-22  99.60  99.60  98.09  99.11  126610
2022-07-25  98.85  98.85  98.54  98.54  143293
2022-07-26  98.78  98.78  98.39  98.45  148397
2022-07-27  98.46  98.46  97.25  97.25  115005
2022-07-28  97.13  99.22  97.13  99.22  126585

In [586]:

ns = NameSpace
res = pformat(prices.close)
print(res)
eval(res)

ns.series(
    data={
        ns.timestamp('2022-07-22 00:00:00'): 99.11,
        ns.timestamp('2022-07-25 00:00:00'): 98.54,
        ns.timestamp('2022-07-26 00:00:00'): 98.45,
        ns.timestamp('2022-07-27 00:00:00'): 97.25,
        ns.timestamp('2022-07-28 00:00:00'): 99.22
    },
    index_name='date'
)

date
2022-07-22    99.11
2022-07-25    98.54
2022-07-26    98.45
2022-07-27    97.25
2022-07-28    99.22
dtype: float64

In [587]:

ns = NameSpace
res = pformat(prices.close.values)
print(res)
eval(res)

ns.ndarray([99.11, 98.54, 98.45, 97.25, 99.22])

array([99.11, 98.54, 98.45, 97.25, 99.22])