In [22]:
import numpy as np
import pandas as pd

from mintalib.testing import reflib

import talib
from talib import abstract

from mintalib.utils import random_walk
from mintalib.testing import sample_series

from mintalib import core

In [23]:
period = 3
series = random_walk(10)
series.iloc[5] = np.nan
series

date
2022-08-22    100.000000
2022-08-23     98.470053
2022-08-24     99.747402
2022-08-25    100.209999
2022-08-26     98.030197
2022-08-29           NaN
2022-08-30     98.781717
2022-08-31     96.952893
2022-09-01     99.243804
2022-09-02     97.272874
dtype: float64

In [24]:
res = core.calc_min(series, period)
res

date
2022-08-22          NaN
2022-08-23          NaN
2022-08-24    98.470053
2022-08-25    98.470053
2022-08-26    98.030197
2022-08-29    98.030197
2022-08-30    98.030197
2022-08-31    96.952893
2022-09-01    96.952893
2022-09-02    96.952893
dtype: float64

In [25]:
exp = reflib.calc_min(series, period)
exp

date
2022-08-22          NaN
2022-08-23          NaN
2022-08-24    98.470053
2022-08-25    98.470053
2022-08-26    98.030197
2022-08-29    98.030197
2022-08-30    98.030197
2022-08-31    96.952893
2022-09-01    96.952893
2022-09-02    96.952893
dtype: float64

In [26]:
np.allclose(res, exp, equal_nan=True)

True

In [27]:
pd.DataFrame(dict(series=series,  res=res, exp=exp))

                series        res        exp
date
2022-08-22  100.000000        NaN        NaN
2022-08-23   98.470053        NaN        NaN
2022-08-24   99.747402  98.470053  98.470053
2022-08-25  100.209999  98.470053  98.470053
2022-08-26   98.030197  98.030197  98.030197
2022-08-29         NaN  98.030197  98.030197
2022-08-30   98.781717  98.030197  98.030197
2022-08-31   96.952893  96.952893  96.952893
2022-09-01   99.243804  96.952893  96.952893
2022-09-02   97.272874  96.952893  96.952893