In [1]:
import numpy as np
import pandas as pd

from mintalib.testing import reflib

import talib
from talib import abstract

from mintalib.utils import random_walk
from mintalib.testing import sample_series

from mintalib import core

In [2]:
period = 3
series = random_walk(10)
series.iloc[5] = np.nan
series

date
2022-08-22    100.000000
2022-08-23    101.753395
2022-08-24    103.658845
2022-08-25    104.916266
2022-08-26    103.553464
2022-08-29           NaN
2022-08-30    101.346695
2022-08-31    101.388557
2022-09-01    102.200779
2022-09-02    101.423003
dtype: float64

In [3]:
res = core.calc_sum(series, period)
res

date
2022-08-22           NaN
2022-08-23           NaN
2022-08-24    305.412240
2022-08-25    310.328506
2022-08-26    312.128575
2022-08-29           NaN
2022-08-30           NaN
2022-08-31           NaN
2022-09-01    304.936030
2022-09-02    305.012338
dtype: float64

In [4]:
exp = reflib.calc_sum(series, period)
exp

date
2022-08-22           NaN
2022-08-23           NaN
2022-08-24    101.804080
2022-08-25    103.442835
2022-08-26    104.042858
2022-08-29           NaN
2022-08-30           NaN
2022-08-31           NaN
2022-09-01    101.645343
2022-09-02    101.670779
dtype: float64

In [5]:
np.allclose(res, exp, equal_nan=True)

False

In [6]:
pd.DataFrame(dict(series=series,  res=res, exp=exp))

                series         res         exp
date
2022-08-22  100.000000         NaN         NaN
2022-08-23  101.753395         NaN         NaN
2022-08-24  103.658845  305.412240  101.804080
2022-08-25  104.916266  310.328506  103.442835
2022-08-26  103.553464  312.128575  104.042858
2022-08-29         NaN         NaN         NaN
2022-08-30  101.346695         NaN         NaN
2022-08-31  101.388557         NaN         NaN
2022-09-01  102.200779  304.936030  101.645343
2022-09-02  101.423003  305.012338  101.670779